*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p
{
    width: 200px;
    padding: 10px;
    border: 5px solid red;
    text-align: center;
    margin: 0 auto;
}

h1
{
        margin-bottom: 50px;
}